08-candidates-knowledge-indexer/workflow.json
{
  "name": "08 - Candidates Knowledge Indexer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "b2000001-0001-4000-8000-000000000001",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Indexes MULTIPLE candidates into Qdrant collection: candidates_knowledge\n * Run ONCE per upload/batch — Screening Engine (07) only retrieves chunks.\n * Fictional demo profiles — see /demo\n *\n * Production: replace this node with Read Files + Extract PDF loop.\n */\nconst candidates = [\n  {\n    candidate_id: 'cand_001',\n    candidate_name: 'Alex Rivera',\n    source: 'demo/sample_candidate_1.md',\n    cv_text: [\n      '[candidate_id:cand_001] [candidate_name:Alex Rivera]',\n      'Alex Rivera — Backend engineer, 8 years Java microservices on AWS. Led squad of 5.',\n      'NovaPayments (2021–Present) Tech Lead/Senior Backend:',\n      '- 12 Spring Boot microservices (Java 17) on AWS EKS',\n      '- Kafka pipelines ~40M messages/day; p99 latency -35%',\n      '- Mentored 4 engineers; hiring loops',\n      'CloudRetail (2018–2021): monolith to microservices; PostgreSQL; SQS/SNS',\n      'DataBridge (2016–2018): Spring Boot REST + MySQL',\n      'Skills: Java, Spring Boot, Microservices, AWS, Kafka, PostgreSQL, MySQL, CI/CD, mentoring'\n    ].join('\\n')\n  },\n  {\n    candidate_id: 'cand_002',\n    candidate_name: 'Jordan Lee',\n    source: 'demo/sample_candidate_2.md',\n    cv_text: [\n      '[candidate_id:cand_002] [candidate_name:Jordan Lee]',\n      'Jordan Lee — Backend developer, 5 years Java/Spring Boot.',\n      'ShopWave (2022–Present): Spring Boot APIs, PostgreSQL, Redis, AWS ECS, JUnit',\n      'MediSoft (2020–2022): Spring Boot tools + MySQL batch jobs',\n      'SoftLabs (2019–2020): Java monolith bugfixes',\n      'Skills: Java, Spring Boot, SQL, AWS ECS (basic), REST, JUnit',\n      'Notes: no production Kafka; under 6 years; no leadership evidence'\n    ].join('\\n')\n  },\n  {\n    candidate_id: 'cand_003',\n    candidate_name: 'Sam Okonkwo',\n    source: 'demo/sample_candidate_3.md',\n    cv_text: [\n      '[candidate_id:cand_003] [candidate_name:Sam Okonkwo]',\n      'Sam Okonkwo — EM / former Senior Backend, 10 years Java. Leads platform team of 8.',\n      'Finora EM Platform (2022–Present): Java platform libs; microservices AWS ECS+RDS; hiring scorecards',\n      'Finora Senior Backend (2019–2022): ledger services; SQS + Kafka topics; mentoring',\n      'LogiCore (2015–2019): Java logistics services; SQL reporting',\n      'Skills: Java, Spring Boot, Microservices, AWS, Kafka (prior), SQL, CI/CD, engineering management'\n    ].join('\\n')\n  }\n];\n\nreturn candidates.map((c) => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b2000001-0001-4000-8000-000000000002",
      "name": "Load Candidates Batch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t1",
              "name": "text",
              "value": "={{ $json.cv_text }}",
              "type": "string"
            },
            {
              "id": "t2",
              "name": "candidate_id",
              "value": "={{ $json.candidate_id }}",
              "type": "string"
            },
            {
              "id": "t3",
              "name": "candidate_name",
              "value": "={{ $json.candidate_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0],
      "id": "b2000001-0001-4000-8000-000000000003",
      "name": "Prepare Document Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "candidates_knowledge",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [700, -20],
      "id": "b2000001-0001-4000-8000-000000000004",
      "name": "Qdrant candidates_knowledge",
      "credentials": {
        "qdrantApi": {
          "id": "vf4UnVoVrteDeGik",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [620, 200],
      "id": "b2000001-0001-4000-8000-000000000005",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SAnoSzrpwuBitiKP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "candidate_id",
                "value": "={{ $('Prepare Document Fields').item.json.candidate_id }}"
              },
              {
                "name": "candidate_name",
                "value": "={{ $('Prepare Document Fields').item.json.candidate_name }}"
              },
              {
                "name": "doc_type",
                "value": "cv_chunk"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [860, 200],
      "id": "b2000001-0001-4000-8000-000000000006",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "Load Candidates Batch", "type": "main", "index": 0 }]]
    },
    "Load Candidates Batch": {
      "main": [[{ "node": "Prepare Document Fields", "type": "main", "index": 0 }]]
    },
    "Prepare Document Fields": {
      "main": [[{ "node": "Qdrant candidates_knowledge", "type": "main", "index": 0 }]]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [[{ "node": "Qdrant candidates_knowledge", "type": "ai_embedding", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Qdrant candidates_knowledge", "type": "ai_document", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a8a8a8a-08aa-4aa0-88a0-candidates0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e5c6f56d2ceeca9013c50e1e343bc5b368d89ed5bb4d6dbcb8c98c682c938bb"
  },
  "nodeGroups": [],
  "id": "CandidatesIndexer08AI",
  "tags": []
}
