07-recruiter-screening-engine/workflow.json
{
  "name": "07 - Recruiter Screening Engine",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "a1000001-0001-4000-8000-000000000001",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Screening request (ATS-ready).\n * Prerequisites:\n *  - 04 indexed JD → jobs_knowledge (prefer metadata job_id=job_001)\n *  - 08 indexed CVs → candidates_knowledge (candidate_id=cand_00x)\n *\n * No PDF re-processing here — only RAG retrieve + LLM scoring.\n */\nreturn [{\n  json: {\n    job_id: 'job_001',\n    job_title: 'Senior Backend Java Engineer',\n    job_summary: 'Senior Backend Java Engineer requiring Java 17+, Spring Boot, Microservices, AWS, Kafka, SQL, CI/CD; preferred leadership/mentoring; 6+ years backend.',\n    candidates: [\n      { candidate_id: 'cand_001', candidate_name: 'Alex Rivera' },\n      { candidate_id: 'cand_002', candidate_name: 'Jordan Lee' },\n      { candidate_id: 'cand_003', candidate_name: 'Sam Okonkwo' }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "a1000001-0001-4000-8000-000000000002",
      "name": "Load Screening Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "candidates",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [460, 0],
      "id": "a1000001-0001-4000-8000-000000000003",
      "name": "Split Candidates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "chatInput",
              "value": "=Screen candidate_id={{ $json.candidate_id }} ({{ $json.candidate_name }}) for job_id={{ $json.job_id }} ({{ $json.job_title }}).\n\nJob summary:\n{{ $json.job_summary }}\n\nInstructions:\n1) Use BOTH retrieval tools before scoring.\n2) Prefer candidate chunks that mention {{ $json.candidate_id }}.\n3) Score ONLY from retrieved evidence — never invent facts.\n4) Return ONLY the ATS JSON object (no markdown).",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "candidate_id",
              "value": "={{ $json.candidate_id }}",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "candidate_name",
              "value": "={{ $json.candidate_name }}",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "job_title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 0],
      "id": "a1000001-0001-4000-8000-000000000004",
      "name": "Build Candidate Screening Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the Screening Engine of AI Talent Copilot.\n\nYou have two retrieval tools:\n1) Candidate evidence from Qdrant collection candidates_knowledge.\n2) Job evidence from Qdrant collection jobs_knowledge.\n\nALWAYS call BOTH tools before answering.\nUse ONLY retrieved evidence. If evidence is missing, list it under evidence.missing and gaps.\n\nAnti-bias: evaluate skills, experience, and JD requirements only. No demographic proxies.\n\nRubric (0-100):\n- technical: required stack depth\n- experience: years/seniority/domain\n- leadership: mentoring/ownership\noverall_score = round(technical*0.45 + experience*0.35 + leadership*0.20)\n\ninterview_priority: HIGH (>=80) | MEDIUM (60-79) | LOW (<60)\nrecommendation.decision: ADVANCE | HOLD | REJECT\n\nReturn ONLY valid JSON with this schema:\n{\n  \"candidate_id\": \"string\",\n  \"candidate_name\": \"string\",\n  \"job_id\": \"string\",\n  \"overall_score\": 0,\n  \"criteria_scores\": {\n    \"technical\": { \"score\": 0, \"weight\": 0.45, \"rationale\": \"string\" },\n    \"experience\": { \"score\": 0, \"weight\": 0.35, \"rationale\": \"string\" },\n    \"leadership\": { \"score\": 0, \"weight\": 0.20, \"rationale\": \"string\" }\n  },\n  \"strengths\": [\"string\"],\n  \"gaps\": [\"string\"],\n  \"evidence\": {\n    \"matched_requirements\": [\"string\"],\n    \"quotes_or_facts\": [\"string\"],\n    \"missing\": [\"string\"]\n  },\n  \"recommendation\": {\n    \"decision\": \"ADVANCE|HOLD|REJECT\",\n    \"summary\": \"string\"\n  },\n  \"interview_priority\": \"HIGH|MEDIUM|LOW\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [980, 0],
      "id": "a1000001-0001-4000-8000-000000000005",
      "name": "Screening Agent (RAG + Score)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [900, 260],
      "id": "a1000001-0001-4000-8000-000000000006",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SAnoSzrpwuBitiKP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve candidate CV evidence from candidates_knowledge. Query with candidate_id and required skills from the JD. Prefer chunks tagged with the target candidate_id.",
        "qdrantCollection": {
          "__rl": true,
          "value": "candidates_knowledge",
          "mode": "id"
        },
        "topK": 8,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1180, 220],
      "id": "a1000001-0001-4000-8000-000000000007",
      "name": "Tool: candidates_knowledge",
      "credentials": {
        "qdrantApi": {
          "id": "vf4UnVoVrteDeGik",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1180, 420],
      "id": "a1000001-0001-4000-8000-000000000008",
      "name": "Embeddings Candidates",
      "credentials": {
        "googlePalmApi": {
          "id": "SAnoSzrpwuBitiKP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve job description requirements from jobs_knowledge (skills, seniority, responsibilities). Query with job_id and role keywords.",
        "qdrantCollection": {
          "__rl": true,
          "value": "jobs_knowledge",
          "mode": "id"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1400, 220],
      "id": "a1000001-0001-4000-8000-000000000009",
      "name": "Tool: jobs_knowledge",
      "credentials": {
        "qdrantApi": {
          "id": "vf4UnVoVrteDeGik",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1400, 420],
      "id": "a1000001-0001-4000-8000-00000000000a",
      "name": "Embeddings Jobs",
      "credentials": {
        "googlePalmApi": {
          "id": "SAnoSzrpwuBitiKP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Candidate Screening Prompt').item.json;\nconst item = $input.first().json;\nconst raw = item.output ?? item.text ?? item.response ?? JSON.stringify(item);\nconst text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst start = text.indexOf('{');\nconst end = text.lastIndexOf('}');\nif (start === -1 || end === -1) {\n  throw new Error('Screening Agent did not return JSON. Raw: ' + text.slice(0, 500));\n}\nconst parsed = JSON.parse(text.slice(start, end + 1));\nconst clamp = (n) => Math.max(0, Math.min(100, Number(n) || 0));\n\nconst criteria = parsed.criteria_scores || {};\nconst technical = criteria.technical || {};\nconst experience = criteria.experience || {};\nconst leadership = criteria.leadership || {};\n\nconst overall = clamp(\n  parsed.overall_score ?? (\n    clamp(technical.score) * 0.45 +\n    clamp(experience.score) * 0.35 +\n    clamp(leadership.score) * 0.20\n  )\n);\n\nconst rec = parsed.recommendation || {};\nconst decision = ['ADVANCE', 'HOLD', 'REJECT'].includes(rec.decision)\n  ? rec.decision\n  : (overall >= 80 ? 'ADVANCE' : overall >= 60 ? 'HOLD' : 'REJECT');\n\nconst priority = ['HIGH', 'MEDIUM', 'LOW'].includes(parsed.interview_priority)\n  ? parsed.interview_priority\n  : (overall >= 80 ? 'HIGH' : overall >= 60 ? 'MEDIUM' : 'LOW');\n\nreturn [{\n  json: {\n    candidate_id: parsed.candidate_id || ctx.candidate_id,\n    candidate_name: parsed.candidate_name || ctx.candidate_name,\n    job_id: parsed.job_id || ctx.job_id,\n    overall_score: overall,\n    criteria_scores: {\n      technical: {\n        score: clamp(technical.score),\n        weight: Number(technical.weight) || 0.45,\n        rationale: technical.rationale || ''\n      },\n      experience: {\n        score: clamp(experience.score),\n        weight: Number(experience.weight) || 0.35,\n        rationale: experience.rationale || ''\n      },\n      leadership: {\n        score: clamp(leadership.score),\n        weight: Number(leadership.weight) || 0.20,\n        rationale: leadership.rationale || ''\n      }\n    },\n    strengths: Array.isArray(parsed.strengths) ? parsed.strengths : [],\n    gaps: Array.isArray(parsed.gaps) ? parsed.gaps : [],\n    evidence: {\n      matched_requirements: Array.isArray(parsed.evidence?.matched_requirements)\n        ? parsed.evidence.matched_requirements : [],\n      quotes_or_facts: Array.isArray(parsed.evidence?.quotes_or_facts)\n        ? parsed.evidence.quotes_or_facts : [],\n      missing: Array.isArray(parsed.evidence?.missing)\n        ? parsed.evidence.missing : []\n    },\n    recommendation: {\n      decision,\n      summary: rec.summary || ''\n    },\n    interview_priority: priority\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 0],
      "id": "a1000001-0001-4000-8000-00000000000b",
      "name": "Parse ATS Score JSON"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1520, 0],
      "id": "a1000001-0001-4000-8000-00000000000c",
      "name": "Aggregate Scores"
    },
    {
      "parameters": {
        "jsCode": "const req = $('Load Screening Request').first().json;\nconst payload = $input.first().json;\nconst rows = Array.isArray(payload.data) ? payload.data : $input.all().map((i) => i.json);\n\nconst ranking = [...rows]\n  .sort((a, b) => (b.overall_score || 0) - (a.overall_score || 0))\n  .map((c, idx) => ({ rank: idx + 1, ...c }));\n\nreturn [{\n  json: {\n    product: 'AI Talent Copilot',\n    workflow: '07 - Recruiter Screening Engine',\n    architecture: 'index-once / retrieve-many',\n    job_id: req.job_id,\n    job_title: req.job_title,\n    candidates_evaluated: ranking.length,\n    collections: {\n      candidates: 'candidates_knowledge',\n      jobs: 'jobs_knowledge'\n    },\n    ranking\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "id": "a1000001-0001-4000-8000-00000000000d",
      "name": "Rank Candidates (ATS Payload)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "Load Screening Request", "type": "main", "index": 0 }]]
    },
    "Load Screening Request": {
      "main": [[{ "node": "Split Candidates", "type": "main", "index": 0 }]]
    },
    "Split Candidates": {
      "main": [[{ "node": "Build Candidate Screening Prompt", "type": "main", "index": 0 }]]
    },
    "Build Candidate Screening Prompt": {
      "main": [[{ "node": "Screening Agent (RAG + Score)", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Screening Agent (RAG + Score)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Tool: candidates_knowledge": {
      "ai_tool": [[{ "node": "Screening Agent (RAG + Score)", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings Candidates": {
      "ai_embedding": [[{ "node": "Tool: candidates_knowledge", "type": "ai_embedding", "index": 0 }]]
    },
    "Tool: jobs_knowledge": {
      "ai_tool": [[{ "node": "Screening Agent (RAG + Score)", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings Jobs": {
      "ai_embedding": [[{ "node": "Tool: jobs_knowledge", "type": "ai_embedding", "index": 0 }]]
    },
    "Screening Agent (RAG + Score)": {
      "main": [[{ "node": "Parse ATS Score JSON", "type": "main", "index": 0 }]]
    },
    "Parse ATS Score JSON": {
      "main": [[{ "node": "Aggregate Scores", "type": "main", "index": 0 }]]
    },
    "Aggregate Scores": {
      "main": [[{ "node": "Rank Candidates (ATS Payload)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c7c7c7c-07cc-4cc0-87c0-screening0003",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e5c6f56d2ceeca9013c50e1e343bc5b368d89ed5bb4d6dbcb8c98c682c938bb"
  },
  "nodeGroups": [],
  "id": "ScreeningEngine07AI",
  "tags": []
}
